<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<form id="form_data">
        user: <input type="text" class="form-control" id="user" /><br/>
        password: <input type="password" class="form-control" id="password"/><br/>

        <div class="text-right">
            <label id="res"></label>
            <button type="submit" class="btn btn-primary" id="btn-submit">login</button>
        </div>
</form>

<input type="text" class="form-control" id="code" name="code" hidden/>
<button id="code_submit" onclick="acticodeAjax()" class="btn btn-primary hidden">submit</button>
<br/>

</body>

<script>
    var email = "";
    $(document).ready(function () {
        $("#form_data").submit(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            ajax_submit();
        });

    });

    function ajax_submit() {

        var user = {};
        user["user"] = $("#user").val();
        user["password"] = $("#password").val();

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/login",
            data: JSON.stringify(user),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                //window.alert("success");
                //$("#res").text(data.res);
                if(data.res == "success"){
                    window.location.href="/";
                }
                else if(data.res == "s_acti"){
                    $("#res").text("enter acti code of"+data.email);
                    email = data.email;
                    $("#code").removeAttr("hidden");
                    $("#code_submit").removeAttr("hidden");
                }

            },
            error: function (e) {
                window.alert("fail");
                $("#res").text(e);
            }
        });

    }
    function acticodeAjax() {
        var user = {}
        user["user"] = email;
        user["acticode"] = $("#code").val();
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/acti",
            data: JSON.stringify(user),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                //window.alert("success");
                $("#res").text(data.res);
                if(data.res == "success"){
                    window.alert("acti succeed!");
                    window.location.href="/";
                }
                else {

                }

            },
            error: function (e) {
                window.alert("fail");
                $("#res").text(e);
            }
        });

    }
</script>

</html>
